@page
@model NyIndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Dag</h2>
        <p>Mandag</p>
        <p>Tirsdag</p>
        <p>Onsdag</p>
        <p>Torsdag</p>
        <p>Fredag</p>
</div>

<div>
    <h2>Varm ret</h2>
    <p>Flæsk</p>
    <p>Pølse</p>
    <p>suppe</p>
    <p>torsk</p>
    <p>ost</p>
</div>

<div>
    <h2>Kold ret</h2>
    <p>Brød</p>
    <p>Ris</p>
    <p>salat</p>
    <p>fisk</p>
    <p>kage</p>
</div>


